.login_body{
    /* margin: 0 auto; */
    height: 100vh;
    background: #364150;
}

.form-title{
    padding: 50px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 25px;
}

.login-box-card{
    width:400px;    
    overflow: hidden;
    position: relative;
    margin: 100px auto;
    background: #eeeeee;
    padding: 10px 30px 150px;
    
}