{% load static %}
<!DOCTYPE html>
<html>
    <head>        
        <link type="text/css" rel="stylesheet" href="{% static 'assets/bootstrap-4.0.0-dist/css/bootstrap.min.css'%}">
        <link type="text/css" rel="stylesheet" href="{% static 'assets/css/main.css' %}">
        <link type="text/css" rel="stylesheet" href="{% static 'assets/css/redo-bootstrap.css' %}">
    </head>
    <body>
        <div class="container-fluid">
            {% include 'layout/top_nav.html' %}
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-0 col-xs-0">
                    Left Column - Left Nave
                    {% include 'layout/left_nav.html' %}
                </div>

                <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 main-content">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 page-bread-crumbs"> 
                            {% block bread-crumbs %} {% endblock %} 
                        </div>
                    </div>
                    {% block content %} {% endblock %}
                </div>

            </div>
            
            
            
            {% include 'layout/footer.html' %}
        </div>
    </body>

    <!-- Including Javascrip Files -->
    <script src="{% static 'assets/js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'assets/bootstrap-4.0.0-dist/js/bootstrap.min.js' %}"></script>
</html>